amqp==5.1.1
attrs==22.1.0
billiard==3.6.4.0
celery==5.2.7
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
flake8==6.0.0
flake8-bugbear==22.12.6
Flask==2.2.2
importlib-metadata==5.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.2.4
MarkupSafe==2.1.1
mccabe==0.7.0
prompt-toolkit==3.0.36
pycodestyle==2.10.0
pyflakes==3.0.1
pytz==2022.6
six==1.16.0
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.2.2
zipp==3.11.0
